---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Simpatizante de Xóchitl Gálvez</title>
  </head>
  <body>
    <h1 class="text-3xl text-center my-12">Simpatizante con Xóchitl Gálvez</h1>
    <form
      id="form"
      class="flex flex-col md:w-2/4 w-10/12 m-auto shadow-xl md:p-12 p-8 gap-4 mb-12"
    >
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Nombre(s)"
        required
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Apellidos"
        required
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Correo electrónico"
        required
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="number"
        id="number"
        name="number"
        placeholder="Número (10 dígitos)"
        maxlength="10"
        required
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <textarea
        id="address"
        name="address"
        placeholder="Dirección"
        rows="2"
        cols="50"
        required
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      ></textarea>

      <p>Estado</p>
      <select
        id="state"
        name="state"
        required
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Municipio</p>
      <select
        id="municipality"
        name="municipality"
        required
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Distrito</p>
      <select
        id="district"
        name="district"
        required
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Sección</p>
      <select
        id="districtSection"
        name="districtSection"
        required
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <input
        type="submit"
        value="Enviar"
        class="cursor-pointer bg-pink text-white py-2 px-4 rounded-lg hover:bg-darkPink ease-in-out duration-300 mt-12"
      />
    </form>
  </body>
</html>

<style></style>

<script src="@/js/form.js"></script>
<script src="@/js/dropdowns.js"></script>
