---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xocitl</title>
  </head>
  <body>
    <h1>Astro Form</h1>
    <form>
      <label for="name">Nombre:</label><br />
      <input type="text" id="name" name="name" /><br /><br />
      <label for="number">Número (10 dígitos):</label><br />
      <input type="number" id="number" name="number" maxlength="10" /><br /><br
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
