---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Carmen con Xóchitl</title>
  </head>
  <body class="bg-pink">
    <img
      src="../img/banner.png"
      alt=""
      class="rounded m-auto md:w-2/4 w-10/12 my-4 shadow-3xl"
    />
    <form
      id="form"
      class="flex flex-col md:w-2/4 w-10/12 m-auto shadow-3xl md:p-12 p-8 gap-4 mb-12 bg-white rounded"
      action="https://script.google.com/macros/s/AKfycbwcmem20y0QgYGRKizF9GbWxeRB0dFvEKE7U3xVg1jhJnmAkqtDscpHeRjbXB5WYN1z/exec"
      method="post"
    >
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Nombre(s)"
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Apellidos"
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Correo electrónico"
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <input
        type="number"
        id="number"
        name="number"
        placeholder="Número (10 dígitos)"
        maxlength="10"
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      />
      <textarea
        id="address"
        name="address"
        placeholder="Dirección"
        rows="2"
        cols="50"
        class="outline-none border-2 border-l-0 border-r-0 border-t-0 py-2 px-4 focus:border-pink border-3"
      ></textarea>

      <p>Estado</p>
      <select
        id="state"
        name="state"
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Municipio</p>
      <select
        id="municipality"
        name="municipality"
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Distrito</p>
      <select
        id="district"
        name="district"
        class="outline-none border-2 rounded-lg py-2 px-4"></select>
      <p>Sección</p>
      <select
        id="districtSection"
        name="districtSection"
        class="outline-none border-2 rounded-lg py-2 px-4"></select>

      <img src="../img/banner_2.jpeg" alt="" class="rounded shadow-xl mt-4" />
      <input
        type="submit"
        value="Enviar"
        class="cursor-pointer bg-pink text-white py-2 px-4 rounded-lg hover:bg-darkPink ease-in-out duration-300 mt-4"
      />
    </form>
  </body>
</html>

<script src="@/js/dropdowns.js"></script>

<script>
  document.getElementById("form").addEventListener("submit", function (event) {
    // Detiene el comportamiento predeterminado de envío del formulario
    event.preventDefault();

    // Asegura que "this" es un elemento HTMLFormElement
    const form = this as HTMLFormElement;

    // Realiza la solicitud POST al servidor
    fetch(form.action, {
      method: form.method,
      body: new FormData(form),
    })
      .then((response) => {
        // Redirige a la página de agradecimiento después de completar el envío
        window.location.href = "/thanks";
      })
      .catch((error) => {
        console.error("Error:", error);
        // Puedes manejar errores aquí si es necesario
      });
  });
</script>
