---

---

<section class="m-auto relative bg-black h-screen w-screen">
  <img
    src="../img/xochitl-galvez-5.webp"
    alt=""
    class="opacity-70 h-full w-full object-cover"
  />
  <h1
    class="text-5xl absolute inset-0 flex justify-center items-center uppercase text-center text-white shadow-lg font-bold px-4"
  >
    Gracias por llenar el formulario
  </h1>
</section>
